<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <ul class="breadcrumb breadcrumb-style ">
                        <li class="breadcrumb-item">
                            <h4 class="page-title">Bulk Upload</h4>
                        </li>
                        <li class="breadcrumb-item bcrumb-1">
                            <a routerLink="/admin/dashboard/main">
                                <i class="fas fa-home"></i> Home</a>
                        </li>
                        <li class="breadcrumb-item bcrumb-2">
                            <a routerLink="/admin/dashboard/main">
                                Application </a>
                        </li>
                        <li class="breadcrumb-item active">Bulk Upload</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="card">
                    <div class="header">
                        <h2>Bulk Upload</h2>
                    </div>
                    <div class="body">

                        <form class="validate-form" [formGroup]="bulkForm" (ngSubmit)="onUpload()">

                            <div class="row">
                                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Email</mat-label>
                                        <input matInput formControlName="email" required>
                                        <mat-icon matSuffix>mail</mat-icon>
                                        <mat-error
                                            *ngIf="bulkForm.get('email').hasError('required') || bulkForm.get('email').touched">
                                            Please enter a valid email address
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-xl-12col-lg-12 col-md-12 col-sm-12 mb-2">

                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <ngx-mat-file-input #removableInput formControlName="uploadedFile" placeholder="Required input"
                                            valuePlaceholder="No file selected" required></ngx-mat-file-input>
                                        <mat-icon *ngIf="removableInput.empty"  matSuffix>folder</mat-icon>
                                     
                                            <mat-icon *ngIf="!removableInput.empty" (click)="removableInput.clear($event)" matSuffix>clear</mat-icon>
                                      
                                        <mat-error *ngIf="bulkForm.get('uploadedFile').hasError('required')">
                                            Please select a file
                                        </mat-error>
                                        <mat-error *ngIf="bulkForm.get('uploadedFile').hasError('maxContentSize')">
                                            The total size must not exceed
                                            {{bulkForm.get('uploadedFile')?.getError('maxContentSize').maxSize |
                                            byteFormat}}
                                            ({{bulkForm.get('uploadedFile')?.getError('maxContentSize').actualSize
                                            | byteFormat}}).
                                        </mat-error>
                                    </mat-form-field>

                                </div>
                            </div>
                    




                            <div class="container-auth-form-btn">
                                <button mat-flat-button color="primary" class="auth-form-btn"
                                    [disabled]="loading&&!bulkForm.valid" type="submit">
                                    {{uploadText}}
                                </button>
                                <br><br>
                                <a 
                                href="/assets/data/Template.xlsx" >Sample Template</a>
                                
                     
                            </div>

                        </form>




                    </div>


                </div>
            </div>
        </div>
    </div>
</section>